<ion-header>
  <ion-toolbar>
    <ion-title>
      page d'accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <h1>Bienvenue d'une application de gestion de Restaurant</h1><br/><br/><br/> 
  <img src="/assets/img/images1.jfif" alt=""   position= "center"/>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>