<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/images1.jfif"  position= "center" />
      <ion-card-header>
        <ion-card-subtitle>Restaurant DE FAST-SFOOD </ion-card-subtitle>
        <ion-card-title>Menu du Jour</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1 position ="center">BIENVENUE DE DE Restaurant FAST-FOOD</h1>
      </ion-card-content>
    </ion-card>
    
      
</ion-content>
